<div *ngIf="album" class="px-8 md:flex  my-10 gap-48">
	<div class="card card-side bg-base-100 shadow-xl max-w-xl ">
		<div class="card-body">
			<div class="flex justify-between">
				<figure class="w-1/2"><img src="./assets/images/album-covers/{{album.photoCover}}" alt="Album"/></figure>
				<div >
					<h1 class="card-title text-5xl font-bold">{{album.title}}</h1>
					<p class="py-6">Année de sortie :
						{{album.year}}</p>
				</div>
			</div>
			<p class="py-6">
				{{album.description}}</p>
			<div class="overflow-x-auto">

				<div class="card-actions justify-end">
<app-social [social]="music_link"></app-social>
				</div>

			</div>
		</div>
	</div>
	<div class="flex flex-col items-center gap-5">
		<h2 class="card-title text-3xl font-bold ">Liste des pistes</h2>
		<table
			class="table shadow-xl">

			<!-- head -->
			<thead>
				<tr>
					<th>Numéro</th>
					<th>Titre</th>
					<th>Durée</th>
					<th>Play</th>
				</tr>
			</thead>
			<tbody>
				<!-- row 1 -->
				<tr *ngFor="let track of album.tracks">
					<th>{{track.id}}</th>
					<td>{{track.title}}</td>
					<td>{{track.duration}}</td>
					<td>|></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
